.popup-content {
    margin: auto;
    background: rgb(255, 255, 255);
    width: 25% !important;
    padding: 5px;
  }
  .modal {
    font-size: 12px;
  }
  .modal > .header {
    font-size: 18px;
    text-align: center;
    padding: 10px;
  }
  .modal > .content {
    padding: 10px 10px;
  }
  .modal > .actions {
    padding: 10px 5px;
    margin: auto;
    text-align: center;
  }
  .modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }
  .popup-header{
    display: flex;
    align-items: flex-end;
    color : #000000;
    font-weight: bold;
    font-size: 14px;
  }
  .popup-details{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color : #808080;
  }
  .popup-panel{
    display: flex;
    justify-content: space-between;
  }
  .modal button{
    cursor: pointer;
  }